
<div class="container pushdown">
<% if @available_slots > 0 %>
	<h2>Pick a player</h2>
	<div class="row">
	 <% @available_slots.times do |n| %>
	  		<%= erb :'partials/_player_pick', :layout => false, :locals => { :n => n, } %>
    <% end %>
  </div>
<% end %>
<%unless current_game.over? %>
<% unless @ships.nil? %>
<div class="row">
  <div class="col-md-3 pushdown">
  	<% @ships.each do |ship| %>
  			<%= erb :'partials/_ship_display', :layout => false, :locals => { :ship => ship, } %>
  	<% end %>
  	</div>
<% end %>
<div class="col-md-9 pushdown">
  <h1><%=player.name %></h1>
  <% if player.playing == true%>
  <h5>It is your turn to play</h5>
  <% end %>
<% unless @grid.nil? %>
  
    	<%= erb :'partials/_grid_display', :layout => false, :locals => { :grid => @grid, } %>

<% else %>
     <div class="jumbotron">
  <h1>Waiting for an opponent</h1>
  <p>The force is too strong with you, wait for an opponent to join</p>
</div> 
<% end %>
  </div>
</div>
<%else %>
  <h1>game over </h1>
  <% end %>

</div>