
<div class="container pushdown">
<% if @available_slots > 0 %>
	<h2>Pick a player</h2>
	<div class="row">
	 <% @available_slots.times do |n| %>
	  		<%= erb :'partials/_player_pick', :layout => false, :locals => { :n => n, } %>
    <% end %>
  </div>
<% end %>
<% unless @ships.nil? || @grid.nil? %>
<div class="row">
  <div class="col-md-4 pushdown">.col-md-8</div>
  	<% @ships.each do |ship| %>
  			<%= erb :'partials/_ship_display', :layout => false, :locals => { :ship => ship, } %>
  	<% end %>
  <div class="col-md-8 pushdown">.col-md-4</div>
</div>
<% end %>

</div>