   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/deathstar.png" alt="Death Start">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sith ?</h1>
              <p>Always look at the dark side of life !</p>
              <p><a class="btn btn-lg btn-primary" href="/start-game" role="button">Start a new game !</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/falcon.png" alt="Falcon Millenuim">
          <div class="container">
            <div class="carousel-caption">
              <h1>Feeling like Chewbacca ?</h1>
              <p>An hair cut and you could rule the galaxy !</p>
              <p><a class="btn btn-lg btn-primary" href="/start-game" role="button">Start a new game !</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/xwing.png" alt="X wing fighter">
          <div class="container">
            <div class="carousel-caption">
              <h1>Jedi ?</h1>
              <p>Time for some death start wrecking</p>
              <p><a class="btn btn-lg btn-primary" href="/start-game" role="button">Start a new game !</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    
    <div class="container marketing">
<% if @available_games.count > 0 %>
  <h2>Pick a player</h2>
  <div class="row">
   <% @available_games.each do |game| %>
      <form action="/join-game" method="post">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/sidious.png" alt="Generic placeholder image">
          <h2><%= game.name %></h2>
          <p>you can join now ! </p><p>there is <%= game.available_slots%> free slot in this game</p>
          <input type="hidden" name="side" value='+ <%=game.id %>+'>
          <p><button type="submit" class="btn btn-default">Join Game !</button></p>
          </form>
        </div><!-- /.col-lg-4 -->
    <% end %>
  </div>

<% end %>
      </div><!-- /.row -->
