<!-- something tells me that you guys will love Haml. Use it! -->


<div class="container pushdown">
<form action="/start-game" method="post">
	<div class="form-group">
		<label for="game_name">Please enter a name for your game: </label>
		 <input type="text" name="game_name" class="form-control"  placeholder="Enter Name">
	</div>
	<div class="form-group">
		<label for="number_of_players">Please enter number of players: </label>
		 <input type="text" name="number_of_players"  class="form-control"  placeholder="Exemple :2">
	</div>
	<div class="form-group">
		<label for="grid_size">Please enter Grid Size: </label>
		 <input type="text" name="grid_size" class="form-control"  placeholder="Exemple :10">
	</div>
<button type="submit" class="btn btn-default">Start your game !</button>
</form>
</div>