.pushdown{
	margin-top: 80px;
	margin-bottom: 30px;
}

.gridbutton{
		height: 50px;
	width: 50px;
}

.shipbutton{
	height: 40px;
	width: 40px;
	padding: 0px 0px 0px 0px;
}
.shipdiv{
	height: 42px;
	width: 42px;
}


.griddiv{
	height: 52px;
	width: 52px;
}

.empty{
	background: url("/images/space.png") no-repeat ;
}

.hit{
background-color: #d9534f;
}
.shiphit{
background-color: #d9534f;
}
.shipempty{
	background-color: #5cb85c;
}

.miss{
	background-color: #ebebeb;
}

.center{
	text-align: center;
	vertical-align: middle;
}